<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Welcome to my Project Management Application
			</h1>
			<h2 class="subtitle">
				A project for Cloud Application Development
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">Created by Coke (Jorge L.O.E):</h3>

					<p>Student Id: x15000061</p>
					<p>National College of Ireland</p>
				</div>
			</div>
			<div class="column is-4 is-offset1">
				<h4 class="subtitle is-4">Sign Up Today</h4>
				<%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section>
